<header class="site">
  <p class="site-name amp"><span class="blue">RYOTA</span> MIZUMAKI</p>
  <ul>
    <li><a href="/web-tech/PWA-AMP">AMP / PWA</a></li>
    <li><a href="/web-tech/React">React</a></li>
    <li><a href="/blockchain/Dapps">ブロックチェーン</a></li>
    <li><a href="/web-tech/Firebase">Firebase</a></li>
    <li><a href="/analysis">アクセス解析</a></li>
  </ul>
</header>
