<header class="site">
  <p class="site-name pwa">
    <a href="/"><span class="blazing-fast">BLAZING FAST</span></a>
    <!-- <br><span class="blue">　~ 神速 ~</span>  -->
  </p>
  <ul>
    <li><a href="/front-end/PWA-AMP">AMP / PWA</a></li>
    <li><a href="/front-end/React">React</a></li>
    <li><a href="/blockchain">ブロックチェーン</a></li>
    <li><a href="/server-side/Firebase">Firebase</a></li>
    <li><a href="/server-side">Node.js / Ruby / Java</a></li>
  </ul>
</header>
