<header class="site">
  <p class="site-name amp"><span class="blue">RYOTA</span> MIZUMAKI</p>
  <ul>
    <li><a href="">AMP / PWA</a></li>
    <li><a href="">React</a></li>
    <li><a href="">ブロックチェーン</a></li>
    <li><a href="">アクセス解析</a></li>
  </ul>
</header>
