<!doctype html>
<html ⚡ lang="ja">

<%- include('components/_head', {data: data}); %>

<body>
  <%- include('components/_site-header') %>
  <%- include('components/_article', {data: data}) %>
  <%- include('components/_site-footer') %>
</body>
</html>