     <footer class="article">
            <nav class="breadcrumb">
              <ol>
                <li>ホーム</li>
                <li>映画</li>
                <li>映画俳優</li>
              </ol>
            </nav>
            <address>
              <div class='writer'>
                <!-- PC表示では、アイコンをのせるかもしれない -->
                <!-- <div class='icon'><div class='temp'></div></div>  -->
                <div class='detail'>
                  <div class='about'>
                    <h4><span class="sub">WRITTEN BY</span><br>Ryota Mizumaki</h4>
                    <p>大学3年。最近は、solidityでブロックチェーンアプリケーション（Dapps）の開発を行っている。絶賛就活中</p>
                    <div class='buttons'>
                      <ul>
                        <li><a href="" target="_blank"><img src="./icon/logo/github_white.svg" alt="Github"></a></li>
                        <li><a href="" target="_blank" class="more-detail">詳細を見る</a></li>
                        <li><a href="" target="_blank"><img src="./icon/logo/twitter_white.svg" alt="twitter"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </address>
      </footer>
 