<footer class="article">
  <%- include('_breadcrumb', {category: category}) %>
  <address>
    <div class='writer'>
      <!-- PC表示では、アイコンをのせるかもしれない -->
      <!-- <div class='icon'><div class='temp'></div></div>  -->
      <div class='detail'>
        <div class='about'>
          <h4><span class="sub">WRITTEN BY</span><br>Ryota Mizumaki</h4>
          <p>大学生(20年卒)。WEB周辺の技術が好き。最近は、ブロックチェーンアプリケーション(Dapps)の開発などにハマっています。絶賛就活中</p>
          <div class='buttons'>
            <ul>
              <li>
                <a href="https://github.com/Mizumaki" target="_blank">
                  <amp-img src="/icon/logo/github_white.svg" alt="Github icon" width="2.4rem" height="4rem" layout="fixed"></amp-img>
                </a>
              </li>
              <li>
                <div class='more-detail button_base b03_skewed_slide_in'>
                  <a href="/Who-the-F-are-you">
                    <div>詳細を見る</div>
                    <div></div>
                    <div>詳細へGO</div>
                  </a>
                </div>
              </li>
              <li>
                <a href="https://twitter.com/RyotaMizumaki" target="_blank">
                  <amp-img src="/icon/logo/twitter_white.svg" alt="Twitter icon" width="2.4rem" height="4rem" layout="fixed"></amp-img>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </address>
</footer>
 