<header class="article">
  <nav class="breadcrumb">
    <ol>
      <li>ホーム</li>
      <li>マイプロダクト一覧</li>
      <li>ノマドタイム</li>
    </ol>
  </nav>
  <h1><%= header.title %></h1>
  <div class='information'>
    <ul class='tags'>
      <li class='tag'><a href="" rel="tag">アクション</a></li>
      <li class='tag'><a href="" rel="tag">ハゲ</a></li>
    </ul>
    <div class='last-update-date'>
      <time datetime="2018-08-07">2018/08/07</time>
    </div>
  </div>
  <div class="share-buttons">
    <ul>
      <li class="twitter"><a href="" target="_blank" rel="noopener"><img src="./icon/logo/twitter_white.svg" alt="twitter"></a></li>
      <li class="facebook"><a href="" target="_blank" rel="noopener"><img src="./icon/logo/facebook.svg" alt="facebook"></a></li>
      <li class="hatena"><a href="" target="_blank" rel="noopener"><img src="./icon/logo/hatenabookmark.svg" alt="はてなブログ"></a></li>
      <li class="pocket"><a href="" target="_blank" rel="noopener"><img src="./icon/logo/pocket_white.svg" alt="Pocket"></a></li>
    </ul>
  </div>
  <p><%= header.lead %></p>
</header>
